<!DOCTYPE html>
<html>
  <head> 
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-firestore.js"></script>
    <script>
        // Initialize Firebase, this is always necessary
        var config = {
            apiKey: "AIzaSyA39Jp3rVTwBrn__rkjbAFp2EZalfZVHYs",
            authDomain: "bikeshoptesting-9e034.firebaseapp.com",
            databaseURL: "https://bikeshoptesting-9e034.firebaseio.com",
            projectId: "bikeshoptesting-9e034",
            storageBucket: "bikeshoptesting-9e034.appspot.com",
            messagingSenderId: "50618401035"
        };
        firebase.initializeApp(config);
    </script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <h1 id = "h1ID">HELLOOOOOOOO people</h1>
  </body>
  <script>
    var db = firebase.firestore(); 
    collectionRef = db.collection("Spencer");
    console.log("Hey, got the collection");
    
    async function getDocs() {
      var snapshot =  await collectionRef.get();
      console.log('s: ', snapshot.docs.map(doc => doc.data()));
    }
    getDocs();

    // for (var doc in snapshot.docs) {
    //   doc.get().then((doc) => {
    //     console.log(doc.data());
    //   });
    // };

    console.log("This will be out of order because things are happening asynchronously");
  </script> 

  <! This is a test comment, to check branching stuff>

  <!-- component template -->
  <script type="text/x-template" id="grid-template">
    <table> 
      <thead>
        <tr>
          <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
            {{ key | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filteredHeroes">
          <td v-for="key in columns">
            {{entry[key]}}
          </td>
        </tr>
      </tbody>
    </table>
  </script>

  <!-- demo root element -->
  <div id="demo">
    <form id="search">
      Search <input name="query" v-model="searchQuery">
    </form>
    <demo-grid
      :heroes="gridData"
      :columns="gridColumns"
      :filter-key="searchQuery">
    </demo-grid>
  </div>

  <!-- <script>
    var db = firebase.firestore();
        docRef = db.collection("Spencer").doc("Person").onSnapshot({
            // Listen for document changes (metadata is just non local changes in data in this case) 
            includeMetadataChanges: true 
        }, function(doc) {
            console.log('new val: ', doc.data())
        });
  </script> -->

</html>